<app-header></app-header>

<div class="body">
    <div class="section my-1">
        <ng-container>
            <mat-card class="scrollable-card2" [style.height]="viewPortHeight + 'px'">
                <div class="parent-container">
                    <h3>
                        <strong>
                            Indigo Recipes.
                        </strong>
                    </h3>
                </div>
                <div class="parent-container">
                    <p class="header-Font">
                        Embark on a gastronomic journey with us! From the sizzle of breakfast to the savory bites of
                        dinner,
                    </p>
                </div>
                <div class="parent-container">
                    <p>
                        <strong>
                            Indigo Recipes
                        </strong> is
                        your culinary companion, bringing you an array of recipes to tantalize your taste buds.
                    </p>
                </div>
            </mat-card>
        </ng-container>
    </div>
    <div>
        <mat-card>
            <div class="parent-container btn-space">
                <div class="button-row">
                    <button mat-button-raised class="primary" (click)="setCountry('Italian')">Italian</button>

                    <button mat-button-raised class="primary" (click)="setCountry('Chinese')">Chinese</button>
                    <button mat-button-raised class="primary" (click)="setCountry('African')">African</button>
                    <button mat-button-raised class="primary" (click)="setCountry('Mexican')">Mexican</button>
                </div>
            </div>

        </mat-card>
    </div>
</div>