<section>
    <app-header></app-header>
    <br>
    <br>

    <div class="content-below-header">
        <header class="header2">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search">
                <button mat-button>
                    <i class="fas fa-search"></i>Search </button>
            </div>
        </header>
        <div class="section">
            <div class="my-1">
                <ng-container>
                    <mat-card class="scrollable-card2">
                        <div class="parent-container">
                            <h3>
                                <strong>
                                    Indigo Recipes.
                                </strong>
                            </h3>
                        </div>
                        <div class="parent-container">
                            <p class="header-Font">
                                Embark on a gastronomic journey with us! From the sizzle of breakfast to the savory
                                bites of
                                dinner,
                            </p>
                        </div>
                        <div class="parent-container">
                            <p>
                                <strong>
                                    Indigo Recipes
                                </strong> is
                                your culinary companion, bringing you an array of recipes to tantalize your taste buds.
                            </p>
                        </div>
                    </mat-card>
                </ng-container>
            </div>
            <div>

                <div class="parent-container mx-1">

                </div>

                <div class="my-3">
                    <div class="row-placement">
                        <div class="responsive-column hover-effect" (click)="setCountry('African')">
                            <div>
                                AFRICAN
                            </div>
                        </div>
                        <div class="responsive-column hover-effect" (click)="setCountry('Italian')">
                            <div>
                                ITALIAN
                            </div>
                        </div>
                        <div class="responsive-column hover-effect" (click)="setCountry('Chinese')">
                            <div>
                                CHINESE
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content-container">
                <div>
                    <mat-tab-group (selectedChange)="onTabChange($event)">


                        <!-- ALL RECIPES -->
                        <mat-tab label="ALL RECIPES">
                            <div>
                                <app-recipe-holder [cards]="recipes" [showRating]="showRating" (like)="onLike($event)"
                                    (selectRecipe)="onSelectSingleRecipe($event)"
                                    (comments)="callCommentsDialog($event)" (share)="onShare($event)">
                                </app-recipe-holder>
                            </div>
                        </mat-tab>

                        <!-- NEW IN -->
                        <mat-tab label="NEW IN">
                            <div [hidden]="newRecipes.length  === 0">
                                <app-recipe-holder [cards]="newRecipes" [showRating]="showRating"
                                    (like)="onLike($event)" (selectRecipe)="onSelectSingleRecipe($event)"
                                    (comments)="callCommentsDialog($event)" (share)="onShare($event)">
                                </app-recipe-holder>
                            </div>
                            <div class="center-message" class="center-message" [hidden]="newRecipes.length  !== 0">
                                No new recipes available at this time. Please check back later!
                            </div>
                        </mat-tab>


                        <!-- FAVORITES -->
                        <mat-tab label="FAVORITES">
                            <div [hidden]="favoriteRecipes.length  === 0">
                                <app-recipe-holder [cards]="favoriteRecipes" [showRating]="showRating"
                                    (like)="onLike($event)" (selectRecipe)="onSelectSingleRecipe($event)"
                                    (comments)="callCommentsDialog($event)" (share)="onShare($event)">
                                </app-recipe-holder>
                            </div>
                            <div class="center-message" [hidden]="favoriteRecipes.length  !== 0">
                                You haven't added any favorite recipes yet. Click on a recipe heart to add it to
                                your favorites.
                            </div>
                        </mat-tab>

                        <!-- MY RECIPES -->
                        <mat-tab label="MY RECIPES">
                            <div [hidden]="myRecipes.length  === 0">
                                <app-recipe-holder [cards]="myRecipes" [showRating]="showRating" (like)="onLike($event)"
                                    (selectRecipe)="onSelectSingleRecipe($event)"
                                    (comments)="callCommentsDialog($event)" (share)="onShare($event)">
                                </app-recipe-holder>
                            </div>
                            <div [hidden]="myRecipes.length  !== 0">
                                <div class="center-message">
                                    You have no recipes, hit 'Add Recipes' to add your own recipes
                                </div>
                                <br>
                                <div class="lettering">
                                    <button mat-button-raised class="add-button" (click)="addRecipe()">
                                        <i class="fas fa-search"></i>ADD RECIPE</button>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>

            <div class="my-1">
                <ng-container>
                    <mat-card class="scrollable-card2" [style.height]="viewPortHeight + 'px'">
                        <div class="parent-container">
                            <!-- <h3>
                            <strong>
                                Indigo Recipes.
                            </strong>
                        </h3> -->
                        </div>
                        <div class="parent-container">
                            <p class="header-Font">
                                Here's to a flavorful journey with Indigo Recipes!
                            </p>
                        </div>
                        <div class="parent-container">
                            <p>

                                From breakfast sizzles to dinner delights, we're your culinary
                                companion, offering a diverse array of tantalizing recipes.
                            </p>
                        </div>
                    </mat-card>

                    <!-- <div class="parent-container"> -->
                    <div class="cross-card-container">
                        <img src="./../../../../assets/political.png" alt="Image description" class="cross-card-image">
                        <div class="cross-card-content">
                        </div>
                    </div>
                    <!-- </div> -->




                </ng-container>
            </div>
            <app-footer></app-footer>
        </div>
    </div>


</section>