section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Ensure the header appears above other content */
}

.content-below-header {
    /* Add padding-top to accommodate the height of the header */
    padding-top: 120px;
    /* Adjust as needed */
}

.header-Font {
    padding: 2rem;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // font-display: swap;
}


.scrollable-card2 {
    display: flex;
    background-color: #f5f5f5;
    transition: top 0.3s ease-in-out;
}



/* Center the div */
.parent-container {
    display: flex;
    justify-content: center;
}

/*********************************** Button Management ****/
.button-row {
    display: flex;
    /* Arrange buttons horizontally */
    justify-content: space-around;
    /* Distribute buttons evenly */
    margin: 1rem;
    /* Adjust the margin value for spacing */
}

.button-row button {
    /* Optional: Add individual button margin (if needed) */
    margin: 1rem;
    /* Adjust as desired */
    flex-basis: 150px;
}

/******************************* Hover Effect****/

.hover-effect {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 0 2px black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    // margin-bottom: 15px;

    &:hover {
        background-color: white;
        color: black;
    }
}

/**** Style the three buttons ***/
.row-placement {
    display: flex;
    justify-content: center;
}

.responsive-column {
    flex: 0 0 10%;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.14);
    }
}

/****** Center the page */

.content-container {
    max-width: 90%;
    margin: auto;
}

/* Card section styling */

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap next to line if needed */
    justify-content: space-around;
    /* Distribute cards evenly  in container */
    width: 80%;
    margin: 0 auto;
    /* Center container horizontally */
}

.custom-card {
    /* Customize card size, elevation, etc. */
    width: 25%;
    flex: 1 0 calc(25% - 1rem);
    /* Adjust width to 100% for flexbox behavior */
    transition: box-shadow 0.3s ease;
    margin: 1rem 0.5rem;
}



//*********************************************************************************************************/
/******** Shaping a card, with an image extending top and bottom*/

.cross-card-container {
    position: relative;
    /* Enable positioning of child elements */
    background-color: black;
    // width: 100vw;
    /* Span entire viewport width */
    height: fit-content;
    /* Adjust height as needed */
    overflow: hidden;
    /* Clip overflowing content */
}

.cross-card-image {
    position: absolute;
    /* Position image absolutely within container */
    top: -3rem;
    /* Extend image 3rem above the card */
    left: -3rem;
    /* Extend image 3rem to the left of the card */
    width: calc(100% + 6rem);
    /* Image width: card width + 3rem on each side */
    height: calc(100% + 6rem);
    /* Image height: card height + 3rem on each side */
    object-fit: cover;
    /* Ensure image covers the space */
}

.cross-card-content {
    background-color: white;
    /* Set background color for content area */
    padding: 2rem;
    /* Add some padding inside the content area */
    margin: 0 auto;
    /* Center content horizontally */
    max-width: 90%;
    /* Set maximum width for content (optional) */
}

/**************************************************************************************/
.center-message {
    text-align: center;
    font-size: 1.3em;
    top: 20px;
}

.lettering {
    text-align: center;
    padding: 20px;
}

// Add button
.add-button {
    padding: 5px 10px;
    background-color: black;
    border: 1px solid white;
    border-color: black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    // position: absolute;
    // top: 0;
    // right: 0;
    padding: 5px;
    // background-color: transparent;
    cursor: pointer;
}

/***************************************************************************************/
.header2 {
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    color: #fff;


    .search-container {
        display: flex;
        align-items: center;

        .search-input {
            padding: 5px;
            margin-right: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #333;
            position: relative;
            padding-right: 35px;
        }

        .search-button {
            padding: 5px 10px;
            // background-color: #fff;
            border: none;
            border-radius: 5px;
            color: #333;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            background-color: transparent;
            cursor: pointer;
        }

        .search-input button[mat-raised-button] {
            box-shadow: none;
        }
    }
}