<app-header></app-header>

<section class="content-below-header">

    <body
        [style.background]="'url(' + backgroundImageUrl + ') no-repeat center center fixed; filter: brightness(0.9);'">
        <div class="recipe-container">
            <div class="recipe-image">
                <img [src]="selectedRecipe.imageUrl" alt="{{ selectedRecipe.title }}">
            </div>
            <div class="recipe-details">
                <div class="centered">
                    <h2>{{ selectedRecipe.title }}</h2>
                </div>

                <div class="selectedRecipe-info">
                    <mat-icon>person</mat-icon>
                    <span>Yield: {{ selectedRecipe.yield }} Person(s)</span>
                    <mat-icon>timer</mat-icon>
                    <span>Prep: {{ selectedRecipe.prepTime }} Minutes</span>
                    <mat-icon>timer</mat-icon>
                    <span>Cook: {{ selectedRecipe.cookTime }} Minutes</span>
                    <mat-icon>access_time</mat-icon>
                    <span>Total: {{ selectedRecipe.totalTime }} Minutes</span>
                </div>

                <br>
                <br>

                <!-- Ingredients -->
                <div class="centered">
                    <h3>Ingredients</h3>
                </div>
                <mat-list>
                    <mat-list-item *ngFor="let ingredient of selectedRecipe.ingredients">
                        {{ ingredient }}
                    </mat-list-item>
                </mat-list>

                <!-- Instructions -->
                <div class="centered">
                    <h3>Instructions</h3>
                </div>
                <mat-list>
                    <mat-list-item *ngFor="let instruction of selectedRecipe.instructions">
                        {{ instruction }}
                    </mat-list-item>
                </mat-list>

                <!-- Tips -->
                <div class="centered">
                    <h3>Tips</h3>
                </div>
                <mat-list>
                    <mat-list-item *ngFor="let tip of selectedRecipe.tips">
                        {{ tip }}
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </body>
</section>
<app-footer></app-footer>