<app-header></app-header>

<body [style.background]="'url(' + backgroundImageUrl + ') no-repeat center center fixed; filter: brightness(0.9);'">
    <div class="recipe-container">
        <div class="recipe-image">
            <img [src]="recipe.imageUrl" alt="{{ recipe.title }}">
        </div>
        <div class="recipe-details">
            <h2>{{ recipe.title }}</h2>
            <div class="recipe-info">
                <mat-icon>person</mat-icon>
                <span>Yield: {{ recipe.yield }}</span>
                <mat-icon>timer</mat-icon>
                <span>Prep: {{ recipe.prepTime }}</span>
                <mat-icon>timer</mat-icon>
                <span>Cook: {{ recipe.cookTime }}</span>
                <mat-icon>access_time</mat-icon>
                <span>Total: {{ recipe.totalTime }}</span>
            </div>

            <h3>Ingredients</h3>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
            </ul>

            <h3>Instructions</h3>
            <ol>
                <li *ngFor="let instruction of recipe.instructions">{{ instruction }}</li>
            </ol>

            <h3>Tips</h3>
            <p>{{ recipe.tips }}</p>
        </div>
    </div>
</body>
<app-footer></app-footer>