<section>
    <main class="main">
        <div class="content">
            <div class="left-side">

                <h1>Contact Us: </h1>
                <br>
                <div class="search-container">
                    <!-- <ng-container>
                        <textarea class="search-input" placeholder="Search" required></textarea>
                        <button mat-button-raised class="search-button"  (click)="onSendEmail()">
                            <i class="fas fa-search"></i>Send Email </button>
                    </ng-container> -->

                    <form [formGroup]="mngForm">

                        <textarea class="search-input" placeholder="Search" required></textarea>
                        <mat-error *ngIf="(mngForm.get('response')?.dirty || mngForm.get('response')?.touched)">
                            Response is required
                        </mat-error>
                    </form>
                    <button mat-button-raised class="search-button"  (click)="onSendEmail()">
                        <i class="fas fa-search"></i>Send Email </button>


                </div>
                <!-- <p>Insert Your Form Here</p> -->
                <!-- <div class="row">
                    <form [formGroup]="mngForm">
                        <mat-form-field appearance="fill">
                            <mat-label>Input Text</mat-label>
                            <input matInput type="text" formControlName="response" maxlength="300" required
                                placeholder="Enter your text here"
                                style="background-color: black; color: white; border: 1px solid white;">
                            <textarea matInput type="text" formControlName="response" maxlength="300" required
                                placeholder="Enter your text here" class="custom-input"> </textarea>
                            <button matSuffix type="submit" (click)="onSubmit()"
                                style="background-color: white; color: black;">submit</button>
                            <mat-error *ngIf="mngForm.get('response')?.hasError('required')">
                                Input text is required
                            </mat-error>
                            <mat-error *ngIf="mngForm.get('response')?.hasError('maxlength')">
                                Input text exceeds maximum length (300 characters)
                            </mat-error>
                        </mat-form-field>
                    </form>
                    <button matSuffix type="submit" (click)="onSubmit()"
                        style="background-color: white; color: black;">submit</button>
                </div> -->




            </div>
            <div class="divider" role="separator" aria-label="Divider"></div>
            <div class="right-side">
                <div class="right-section">
                    <h5>Health</h5>
                    <br>
                    <h5>Help</h5>
                    <br>
                    <h5>About Us</h5>
                    <br>

                    <!-- <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Help</th>
                                    <th>About Us</th>
                                    <th>Health</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Item 1</td>
                                    <td>Item 5</td>
                                    <td>Item 9</td>
                                </tr>
                                <tr>
                                    <td>Item 2</td>
                                    <td>Item 6</td>
                                    <td>Item 10</td>
                                </tr>
                                <tr>
                                    <td>Item 3</td>
                                    <td>Item 7</td>
                                    <td>Item 11</td>
                                </tr>
                                <tr>
                                    <td>Item 4</td>
                                    <td>Item 8</td>
                                    <td>Item 12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
                <div>

                </div>
            </div>
        </div>
    </main>
    <main>
        © all rights reserved Indigo Receipe | Samsicker 2024
    </main>
</section>