//**********************************************************************/
// Title Styling
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* Ensure the header appears above other content */
}

.content-below-header {
  /* Add padding-top to accommodate the height of the header */
  padding-top: 120px;
  /* Adjust as needed */
}

section {
  display: flex;
  margin-left: 10%;
  margin-top: 60px;
  padding: 10px;
  display: flex;
}

.filterarea {
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  margin-left: 10%;
  margin-top: 2px;
  padding: 2px;
  width: calc(100% - 20%);
}

/*************************************************************************************************************
*Filter Styling
*/
.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  mat-form-field {
    flex: 1 0 auto;
    /* Allow form fields to grow equally */
  }
}







/**************************************************************************************************************************/
/*************  CARD STYLING **********************************************************************************************/
/****** Center the page */

.content-container {
  max-width: 80%;
  margin: auto;
}

.scrollable-card2 {
  background-color: #f5f5f5;
  transition: top 0.3s ease-in-out;
}

/* Add some padding for visual separation from the header */
mat-card {
  padding: 2rem;
  border-bottom: 0%;
}


/********************** Card Organization ******************/
.custom-card {
  /* Customize card size, elevation */
  width: 25%;
  flex: 1 0 calc(25% - 1rem);
  /* Adjust width to 100% for flexbox behavior */
  transition: box-shadow 0.3s ease;
  margin: 1rem 0.5rem;
}


.card-row {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  flex-wrap: wrap;
}



.custom-card:hover {
  /* Raise card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.23);
  /* Increase card height on hover to accommodate rating */
  height: calc(100% + 3rem);
}

.image-container {
  /* Style the image container for padding and square aspect ratio */
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  flex: 0 0 40%;
  /* Adjust width of image container */
}

.image-container img {
  max-width: 100%;
  /* Ensure image scales within container */
  max-height: 100%;
}

.card-content {
  flex: 1 1 60%;
  padding: 0.5rem;
  text-align: center;
}



//*********************************************************************************************************/
/*************** CARD DETAILS  ***************************************************************************/
.mat-card-header {
  padding: 0 16px 8px;
}

.mat-card-title {
  text-align: center;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  text-decoration-color: black;

}

/*************************** Button Management *********************************************************/
.button-container {
  display: flex;
  /* Arrange buttons horizontally */
  justify-content: center;
  /* Center buttons within the container */
}

.button-container button {
  margin: 0.5rem;
  /* Add some margin between buttons (optional) */
}


/********************************* Rating Styling **************************************************/
// .top-right-button {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   display: flex;
// }

.rating-container {
  position: relative;
  margin-top: 10px;
  display: flex;
  /* Adjust as needed */
}

.rating-star {
  font-size: 24px;
  color: white;
  outline: #000;
  display: flex;
}

.rating-star.filled {
  color: #000;
  display: flex;
  /* Filled star color */
}

.rating-value {
  margin-left: 5px;
  /* Adjust as needed */
  font-size: 14px;
  /* Adjust as needed */
}

.circle-container {
  position: absolute;
  top: 30px;
  right: 30px;
  transform: translate(50%, -50%);
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; // Ensure the button is above the image

  .top-right-button {
    color: white;
    position: absolute;

  }
}

/******************************************************************************************************************************************** */
// Test Ground

.filtercontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/******************************************************************************************************************************************** */

.dropdown {
  position: relative;
  display: inline-block;

  .button:hover {
    color: #415569;
  }
}

.dropdown-toggle {
  background-color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
}

/*****************************************************************************************************************/
// Header 
.header2 {
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  color: #fff;


  .search-container {
    display: flex;
    align-items: center;

    .search-input {
      padding: 5px;
      margin-right: 10px;
      border: 1px solid #fff;
      border-radius: 5px;
      color: #333;
      position: relative;
      padding-right: 35px;
    }

    .search-button {
      padding: 5px 10px;
      // background-color: #fff;
      border: none;
      border-radius: 5px;
      color: #333;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      background-color: transparent;
      cursor: pointer;
    }

    .search-input button[mat-raised-button] {
      box-shadow: none;
    }
  }
}