<section>

    <body>
        <app-header></app-header>
        <div class="content-below-header">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <h2>{{ pageFunction }} Recipe </h2>
                    </div>
                </div>
                <div>
                    <mat-horizontal-stepper linear>
                        <!-- Step 1: Recipe Details -->
                        <div>
                            <mat-step label="Recipe Details">
                                <div>
                                    <form [formGroup]="recipeDetailsForm">
                                        <div>
                                            <div>
                                                <ng-container>
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <input matInput formControlName="title"
                                                            placeholder="Recipe Title" required>
                                                        <mat-error
                                                            *ngIf="recipeDetailsForm.get('title')?.hasError('required')">The
                                                            title is required </mat-error>
                                                    </mat-form-field>
                                                </ng-container>
                                            </div>
                                            <div>
                                                <ng-container>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Yield</mat-label>
                                                        <input matInput formControlName="yield"
                                                            placeholder="Yield (persons)" required>
                                                        <mat-error
                                                            *ngIf="recipeDetailsForm.get('yield')?.hasError('required')">The
                                                            yeild is required </mat-error>
                                                    </mat-form-field>
                                                </ng-container>
                                            </div>
                                            <div>
                                                <ng-container>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Prep Time</mat-label>
                                                        <input matInput formControlName="prepTime"
                                                            placeholder="Prep Time" required>
                                                        <mat-error
                                                            *ngIf="recipeDetailsForm.get('prepTime')?.hasError('required')">The
                                                            prep time is required </mat-error>
                                                    </mat-form-field>
                                                </ng-container>
                                            </div>
                                            <div>
                                                <ng-container>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Cook Time</mat-label>
                                                        <input matInput formControlName="cookTime"
                                                            placeholder="Cook Time" required>
                                                        <mat-error
                                                            *ngIf="recipeDetailsForm.get('cookTime')?.hasError('required')">The
                                                            cook time is required </mat-error>
                                                    </mat-form-field>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="submit" mat-button matStepperNext
                                                [disabled]="!recipeDetailsForm.valid">Next</button>
                                        </div>
                                    </form>



                                </div>
                            </mat-step>
                        </div>


                        <!-- Step 2: Ingredients -->
                        <div>
                            <mat-step label="Ingredients">
                                <form [formGroup]="ingredientsForm">
                                    <div formArrayName="ingredients">
                                        <div *ngFor="let ingredient of ingredientControls; let i = index">
                                            <!-- <mat-form-field appearance="outline">
                                            <input matInput [formControl]="ingredient" placeholder="Ingredient {{ i + 1 }}"
                                                required>
                                            <mat-error *ngIf="ingredient.invalid && ingredient.touched">Ingredient is
                                                required</mat-error>
                                        </mat-form-field> -->
                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Enter an ingredient name</mat-label>
                                                    <input matInput [formControlName]="i"
                                                        placeholder="Ingredient {{ i + 1 }}" required>
                                                    <mat-error
                                                        *ngIf="ingredientControls.at(i)?.invalid && ingredientControls.at(i)?.touched">
                                                        The ingredient is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <button type="submit" mat-icon-button (click)="removeIngredient(i)">
                                                    <mat-icon>remove_circle</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn-space" type="submit" mat-button (click)="addIngredient()">Add
                                            Ingredient</button>
                                        <button type="submit" mat-button matStepperNext
                                            [disabled]="!ingredientsForm.valid">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                        </div>




                        <!-- Step 3: Instructions -->
                        <div>
                            <mat-step label="Instructions">
                                <form [formGroup]="instructionsForm">
                                    <div formArrayName="instructions">
                                        <div *ngFor="let instructionCtrl of instructionControls; let i = index">
                                            <!-- <mat-form-field appearance="outline">
                                            <input matInput [formControl]="instructionCtrl"
                                                placeholder="Instruction {{ i + 1 }}" required>
                                            <mat-error
                                                *ngIf="instructionCtrl.invalid && instructionCtrl.touched">Instruction is
                                                required</mat-error>
                                        </mat-form-field> -->
                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Enter an instruction</mat-label>
                                                    <textarea matInput [formControlName]="i"
                                                        placeholder="Instruction {{i +1}}" required></textarea>
                                                    <mat-error
                                                        *ngIf="instructionControls.at(i)?.invalid && ingredientControls.at(i)?.touched">
                                                        The instruction is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <button type="submit" mat-icon-button (click)="removeInstruction(i)">
                                                    <mat-icon>remove_circle</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" mat-button (click)="addInstruction()">Add
                                            Instruction</button>
                                        <button type="submit" mat-button matStepperNext
                                            [disabled]="!instructionsForm.valid">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                        </div>


                        <!-- Step 4: Tips -->
                        <div>
                            <mat-step label="Tips">
                                <form [formGroup]="tipsForm">
                                    <div formArrayName="tips">
                                        <div *ngFor="let tip of tipControls; let i = index">
                                            <!-- <div>
                                            <mat-form-field appearance="outline">
                                                <input matInput [formControl]="tip" placeholder="Tip {{ i + 1 }}" required>
                                                <mat-error *ngIf="tip.invalid && tip.touched">Tip is required</mat-error>
                                            </mat-form-field>
                                        </div> -->

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Enter a tip</mat-label>
                                                    <input matInput [formControlName]="i" placeholder="Tip {{ i + 1 }}"
                                                        required>
                                                    <mat-error
                                                        *ngIf="tipControls.at(i)?.invalid && tipControls.at(i)?.touched">Tip
                                                        is
                                                        required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <button type="submit" mat-icon-button (click)="removeTip(i)">
                                                    <mat-icon>remove_circle</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" mat-button (click)="addTip()">Add Tip</button>
                                        <button type="submit" mat-button matStepperNext
                                            [disabled]="!tipsForm.valid">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                        </div>


                        <!-- Step 5: Submit -->
                        <div>
                            <mat-step>
                                <p>Review your recipe details and submit.</p>
                                <button type="submit" mat-button (click)="submit()">Submit</button>
                            </mat-step>
                        </div>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>

    </body>
    <!-- <app-footer></app-footer> -->
</section>