// .app-mat-card {
//     background-color: black;
//     color: white;
//     display: flex;
//     flex-direction: row;
//     height: 100%;
//     /* Ensure card takes the full height of its container */
// }

// .left-section,
section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

// .divider {
//     border-right: 10px solid white;
//     height: 100%;
//     margin-right: 20px;
//     max-width: 10px;
//     /* Add margin to make the divider visible */
// }

.table-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: stretch;
    /* Make items stretch across the container */
}

.table-wrapper {
    display: flex;
    flex: 1;
}

.table-wrapper table {
    width: 100%;
}

// .footer {
//     padding: 10px;
//     text-align: center;
// }


h1 {
    font-size: 3.125rem;
    color: black;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

p {
    margin: 0;
    color: white;
}

.custom-input {
    background-color: black;
    color: white;
    border: 1px solid white;
    height: 80px;
    width: 100%;
    /* Adjust height as needed */
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    background-color: #f5f5f5;
    color: black;
}



.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
    margin-bottom: 3rem;
}

.content h1 {
    margin-top: 1.75rem;
}

.content p {
    margin-top: 1.5rem;
}

.divider {
    width: 1px;
    // background: var(--red-to-pink-to-purple-vertical-gradient);
    background: white;
    margin-inline: 0.5rem;
}

.search-container {
    display: flex;
    align-items: center;

}

.search-input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    position: relative;
    padding-right: 35px;
}

.search-button {
    padding: 5px 10px;
    background-color: black;
    border: 1px solid white;
    border-color: black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    // position: absolute;
    // top: 0;
    // right: 0;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}


@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }

    .divider {
        height: 1px;
        width: 100%;
        // background: var(--red-to-pink-to-purple-horizontal-gradient);
        background: black;
        margin-block: 1.5rem;
    }
}