.recipe-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align items to the top */
    flex-wrap: wrap-reverse;
    /* Reverse wrap direction when page is minimized */

    .recipe-image {
        flex: 0 0 300px;
        /* Set fixed width for the image */
        margin-right: 20px;
        /* Add some space between image and details */
        order: 2;
        /* Change order of image on mobile */
    }

    .recipe-details {
        flex: 1;
        /* Fill remaining space */
        max-width: 600px;
        /* Limit maximum width of details */
    }

    img {
        width: 100%;
        /* Ensure image fills its container */
    }

    h1,
    h2 {
        margin-top: 0;
        /* Remove default margin */
    }

    ul,
    ol {
        margin-bottom: 20px;
        /* Add space between list items */
    }
}