<div class="section">
    <div class="login-container">
        <!-- Login Section -->


        <div class="login-section card">
            <div class="mat-card">
                <h1>Log In To Your Account</h1>

                <!-- Login Form (Assuming loginForm is the form group in your component) -->
                <form [formGroup]="loginForm">
                    <!-- Assuming you have form controls named 'email' and 'password' -->
                    <input type="email" formControlName="email" placeholder="Email">
                    <input type="password" formControlName="password" placeholder="Password">

                    <!-- Login Button -->
                    <button mat-raised-button color="primary" type="submit" (click)="onLogin()">Login</button>

                    <!-- Option to login with Google or Facebook -->
                    <div class="social-login">
                        <button mat-raised-button color="primary" type="submit" (click)="loginWithGoogle()">Login with
                            Google</button>
                        <button mat-raised-button color="primary" type="submit" (click)="loginWithFacebook()">Login with
                            Facebook</button>
                    </div>
                </form>
            </div>
        </div>



        <!-- Registration Section -->
        <div class="registration-section">
            <h1>Are You New Here?</h1>
            <h4>No worries, Register instead</h4>

            <!-- Register Button -->
            <button mat-raised-button color="primary" type="submit" (click)="register()">Register</button>
        </div>
    </div>
</div>