/* You can add global styles to this file, and also import other style files */
/* @import '/node_modules/bootstrap/dist/css/bootstrap.min.css'; */
body {
  font-family:'Courier New', Courier, monospace;
}



.snackbar-success {
  background-color: green;  
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
}