@use '@angular/material'as mat;
@include mat.core();

$indigo-color-pallete: (50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #3a409a,
    800: #31368a,
    900: #292c6b,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    ));


$mat-warn: (main: #ff0000,
    lighter: #ffb3b3,
    darker: #ff0000,
    200: #ff0000, // For slide toggle,
    contrast : (main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    ));

$recipe-primary: mat.define-palette($indigo-color-pallete, 800);
$recipe-warn: mat.define-palette($mat-warn, main);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $recipe-primary,
            accent: $my-accent,
            primary: $recipe-primary,
            warn: $recipe-primary) typography: mat.define-typography-config(),
        density: 0,
    ));

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.form-field-theme($my-theme);
@include mat.input-theme($my-theme);