<app-header></app-header>
<section>
    <div class="card">
        <h1 class="center-message">
            Ooops!!! Page Not Found
        </h1>
        <div class="center-message">
            Hungry? In the mood to cook? Checkout out our recipes!
        </div>
        <br>
        <div class="lettering">
            <button mat-button-raised class="add-button" (click)="navigateToHome()">
                <i class="fas fa-search"></i>CHECKOUT RECIPES</button>
        </div>
    </div>
</section>